[Unit]
Description=D4Wee Google Classroom Data Sync
After=network.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/root/d4wee
Environment="PATH=/root/d4wee/.venv/bin"
ExecStart=/root/d4wee/.venv/bin/python manage.py sync --clear
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
