{% extends "app/layouts/base.html" %}
{% block page %}
{% include 'app/includes/navbar.html' %}
<main class="flex-grow-1 py-3 py-md-4 py-xl-5">
  <div class="container">
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <div class="vstack">
          {% for message in messages %}
          <div class="" {{ message.tags }}>{{ message }}</div>
          {% endfor %}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <header class="d-flex justify-content-between align-items-center mb-5 content-box">
      <div>
        <h1 class="display-6 mb-0">{% block header_title %}TITLE{% endblock header_title %}</h1>
        <div class="lead text-secondary">{% block header_subtitle %}SUBTITLE{% endblock header_subtitle %}</div>
      </div>
      {% block header_stats %}{% endblock header_stats %}
    </header>
    {% block content %}{% endblock content %}
  </div>
</main>
<footer class="p-3 p-md-5">
  <div class="text-center d-lg-flex gap-3 justify-content-center">
    <span class="">&copy; 2013-2026 Code for Pakistan</span>
    <span>Content licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons</a> license</span>
    <a href="{% url 'privacy' %}">Privacy Policy</a>
    <a href="{% url 'terms' %}">Terms of Use</a>
  </div>
</footer>
{% endblock page %}