{% load custom_filters %} 
{% if cohorts %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cohort</th>
      <th>Period</th>
      <th class="fit">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for cohort in cohorts %}
    <tr class="align-middle">
      <td>{{ cohort.name }}</td>
      <td>{{ cohort.start_date|date:"M d, Y" }} - {{ cohort.end_date|date:"M d, Y" }}</td>
      <td>
        {% with registration=cohort.registrations.all.first %}
          {% if registration %} 
            {% if registration.status == 'PENDING' %} Pending Approval 
            {% elif registration.status == 'APPROVED' %} Registered 
            {% elif registration.status == 'REJECTED' %} Rejected
            {% endif %} 
          {% else %}
            <form
              method="post"
              action="{% url 'registration_create' cohort.id %}"
              class="inline"
              onsubmit="return confirm('Are you sure you want to register for {{ cohort.name }}?');">
              {% csrf_token %}
              <button class="btn btn-sm btn-primary" type="submit">Register</button>
            </form>
          {% endif %}
        {% endwith %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No Cohorts Available</p>
{% endif %}
