{% load custom_filters %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Description</th>
      <th class="fit">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for course in available_courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>{% if course.description %} {{ course.description }} {% else %} No description available {% endif %}</td>
      <td>
        {% if primary_cohort and primary_cohort.is_active %} 
          {% if primary_cohort_enrollment_count < 5 %}
          <form
            method="post"
            action="{% url 'enroll_in_course' course.id %}"
            class="inline"
            onsubmit="return confirm('Are you sure you want to enroll in {{ course.name }}?');">
            {% csrf_token %}
            <input type="hidden" name="cohort_id" value="{{ primary_cohort.id }}" />
            <button type="submit" class="btn btn-sm btn-success">Enroll</button>
          </form>
          {% else %}
            <span class="text-nowrap">Max Courses Reached (5/5)</span>
          {% endif %} 
        {% else %}
          <span class="text-nowrap">Registration Required</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
