{% load custom_filters %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Description</th>
      <th class="fit">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
    <tr class="align-middle">
      <td>{{ course.name }}</td>
      <td>{{ course.description_heading }}</td>
      <td>
        <form
          method="post"
          action="{% url 'enroll_in_course' course.id %}"
          class="inline"
          onsubmit="return confirm('Are you sure you want to enroll in {{ course.name }}?');">
          {% csrf_token %}
          <input type="hidden" name="cohort_id" value="{{ primary_cohort.id }}" />
          <button type="submit" class="btn btn-sm btn-success">Enroll</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
