{% extends 'app/layouts/page.html' %} 
{% load custom_filters %}
{% block title %}Attendance | {{ block.super }}{% endblock %} 
{% block header_title %}Attendance{% endblock %} 
{% block header_subtitle %}Track weekly attendance and participation{% endblock %} 
{% block content %}
{% if attendance %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Week</th>
      <th>Date Range</th>
      <th>Cohort</th>
      <th>Students</th>
      <th>Attendance Rate</th>
    </tr>
  </thead>
  <tbody>
    {% for week in attendance %}
    <tr class="align-middle">
      <td>Week {{ week.year_week|slice:"5:7" }}</td>
      <td>
        {{ week.year_week|startDate }} - {{ week.year_week|endDate }}
      </td>
      <td>{{ week.cohort_name }}</td>
      <td>{{ week.record_count }} / {{ week.total_enrollments }}</td>
      <td>
        {% widthratio week.record_count week.total_enrollments 100 as width %}
        <div class="progress" role="progressbar">
          <div class="progress-bar" style="width: {{ width }}%">{{ width }}%</div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No attendance records</p>
{% endif %} {% endblock %}
