{% extends 'app/layouts/page.html' %} 
{% block title %}Console | {{ block.super }}{% endblock %} 
{% block header_title %}Coordinator Console{% endblock %} 
{% block header_subtitle %}Manage your students and their progress here{% endblock %} 

{% block content %}

{% include 'app/includes/search_bar.html' with search_query=search_query placeholder="Search by name or email..." clear_url=request.path %}

{% include 'app/includes/student_report.html'  with personal=True attendance=True %}

{% endblock %}
