{% extends 'app/layouts/page.html' %} 
{% block title %}Courses | {{ block.super }}{% endblock %} 
{% block header_title %}Courses{% endblock %} 
{% block header_subtitle %}{{ courses|length }} course{{ courses|length|pluralize }} in total{% endblock %} 
{% block content %} 
{% if courses %}
<div class="">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Course</th>
        <th>Instructor</th>
        <th>Students</th>
        <th>Assignments</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr class="align-middle">
        <td>
          {{ course.name }}
        </td>
        <td>{{ course.section|default:"—" }}</td>
        <td>{{ course.total_students }}</td>
        <td>{{ course.total_assignments }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div>
  <h3>No data yet</h3>
  <div>Data will appear after sync runs</div>
</div>
{% endif %} 
{% endblock %}
