{% extends 'app/layouts/page.html' %}
{% load custom_filters %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}
{% block header_title %}Welcome, {{ student.full_name }}{% endblock %}
{% block header_subtitle %}{{ student.email }}{% endblock %}
{% block header_stats %} 
{% include 'app/includes/student_stats.html' %} 
{% endblock %}

{% block content %}
    
  {% if enrollments %}
  <section class="my-5">
    <h3>My Courses</h3>
    {% include 'app/includes/enrollment_table.html' with link_to_classroom=True %}
  </section>
  {% endif %}
  
  <!-- Available Cohorts Section -->
  <section class="my-5">
    <h3>Available Cohorts</h3>
    {% include 'app/includes/available_cohorts_table.html' %}
  </section>

  <!-- Available Courses Section -->
  <section class="my-5">
    <h3>Available Courses</h3>
    {% include 'app/includes/available_courses_table.html' %}
  </section>

{% endblock %}
