{% extends 'app/layouts/page.html' %} 
{% block title %}{{ student.full_name }} | {{ block.super }}{% endblock %} 
{% block header_title %}{{ student.full_name }}{% endblock %} 
{% block header_subtitle %}{{ student.user.email }}{% endblock %} 
{% block header_stats %} 
{% include 'app/includes/student_stats.html' %} 
{% endblock %} 
{% block content %}
<!-- Course Enrollments Grouped by Cohort -->
{% include 'app/includes/student_report.html' with personal=False attendance=False %}
{% endblock %}
